---
import Proyecto from "./Proyecto.astro";
import Enlace from "@components/UI/Enlaces/Enlace.astro";
import CihipNext from "@components/UI/Chips/CihipNext.astro";
import ChipTailwind from "@components/UI/Chips/ChipTailwind.astro";
import ChipPrisma from "@components/UI/Chips/ChipPrisma.astro";
import ChipPostgres from "@components/UI/Chips/chipPostgres.astro";
import ChipAstro from "@components/UI/Chips/ChipAstro.astro";
import ChipAngular from "@components/UI/Chips/ChipAngular.astro";
import ChipHtml from "@components/UI/Chips/ChipHtml.astro";
import ChipCss from "@components/UI/Chips/ChipCss.astro";
import ChipJS from "@components/UI/Chips/ChipJS.astro";
import GithubLink from "@components/UI/Enlaces/GithubLink.astro";
---

<div class="flex flex-col gap-7 md:[&>*:nth-child(odd)]:flex-row-reverse">
  <Proyecto
    Titulo="DevSencillo"
    alt="Landing Page de DevSencillo"
    src="/ImgProyectosPersonales/DevSencillo.webp"
  >
    <div class="flex gap-2 mb-5 flex-wrap">
      <ChipAstro />
      <ChipTailwind />
    </div>

    <p>
      Diseñé la landing page utilizando Tailwind CSS y Astro. En este proyecto
      aprendí a utilizar las View Transitions.
    </p>

    <div class="flex">
      <Enlace
        href="https://devsencillo.com"
        texto="DevSencillo"
        title="Pagina de DevSencillo | Estudio de Desarrollo"
        targetBlank
        classname="mx-2 font-semibold text-[var(--tertiary)]"
      />
    </div>
  </Proyecto>

  <Proyecto
    Titulo="BotaniCo"
    alt="Template de BotaniCo"
    src="/ImgProyectosPersonales/Botanico/BotaniCo.webp"
    transitionName="data-copy-button"
  >
    <div class="flex gap-2 mb-5 flex-wrap">
      <ChipHtml />
      <ChipCss />
      <ChipJS />
    </div>
    <p>
      Un diseño fresco y natural, ideal para negocios de plantas y jardinería,
      con un enfoque en la estética visual y la facilidad de navegación. <a
        href="/proyectos/botanico">Ver más de BotaniCo</a
      >
    </p>

    <div class="flex space-x-2">
      <GithubLink
        href="https://github.com/desteban/Templates/tree/main/BotaniCo"
      />
      <Enlace
        href="https://desteban.github.io/Templates/BotaniCo"
        texto="Preview"
        title="Botanico"
        targetBlank
      />
    </div>
  </Proyecto>

  <Proyecto
    Titulo="Luks"
    alt="Pagina de Luks"
    src="/ImgProyectosPersonales/Luks.webp"
  transitionName="project-luks"
  >
    <div class="flex gap-2 mb-5 flex-wrap">
      <CihipNext />

      <ChipTailwind />

      <ChipPrisma />

      <ChipPostgres />
    </div>

    <p>
      Luks es una aplicación que te permite llevar el control de tus finanzas,
      genera gráficos para que veas de una manera más fácil y puedas tomar una
      decisión. <a href="/proyectos/luks">Conoce más de Luks</a>
    </p>

    <div class="flex space-x-2">
      <Enlace
        href="https://luks.vercel.app"
        texto="Preview"
        title="Luks"
        targetBlank
        classname="font-semibold text-[var(--tertiary)]"
      />

      <GithubLink href="https://github.com/desteban/Luks" />
    </div>
  </Proyecto>

  <Proyecto
    Titulo="Clon de Medium"
    alt="Mi clon de la pagina de Medium"
    src="ImgProyectosPersonales/Medium-Clone.webp"
  >
    <div class="flex gap-2 mb-5 flex-wrap">
      <ChipAstro />
      <ChipTailwind />
    </div>

    <p>Clon de la pagina de Medium, con la tecnología Astro y Tailwind CSS.</p>

    <div class="flex">
      <GithubLink href="https://github.com/desteban/medium-clone" />
    </div>
  </Proyecto>

  <Proyecto
    Titulo="e-Store"
    alt="Home del proyecto e-Store, se puede ver un listado de productos y filtrar por categorías"
    src="ImgProyectosPersonales/e-store.webp"
  >
    <div class="flex gap-2 mb-5 flex-wrap">
      <ChipAngular />
      <ChipTailwind />
    </div>
    <p>
      e-Store es una tienda web creada como parte del curso de platzi de
      Creación de aplicación web, en la cual aprendí a utilizar angular y
      conocer la sintaxis antigua como la nueva.
    </p>

    <div class="flex">
      <GithubLink href="https://github.com/desteban/e-store" />
    </div>
  </Proyecto>
</div>
<style>
  p {
    line-height: 1.5rem;
  }
</style>
