---
import Proyecto from "./Proyecto.astro";
import Enlace from "@components/UI/Enlaces/Enlace.astro";
import BotonEnlace from "@components/UI/Enlaces/BotonEnlace.astro";

import GitHubIcono from "@iconos/GitHubIcono.astro";
---

<div
  class="flex flex-col gap-9 contenedor md:[&>*:nth-child(odd)]:flex-row-reverse"
>
  <Proyecto
    Titulo="Luks"
    alt="Pagina de Luks"
    src="/ImgProyectosPersonales/Luks.webp"
  >
    <p>
      Luks es una aplicación que te permite llevar el control de tus finanzas,
      genera gráficos para que veas de una manera más fácil y puedas tomar una
      decisión.
    </p>

    <div class="flex">
      <Enlace
        href="https://luks.vercel.app"
        texto="Preview"
        title="Luks"
        targetBlank
        classname="mx-2"
      />

      <BotonEnlace
        href="https://github.com/desteban/Luks"
        title="Codigo del proyecto"
        classname="mx-2"
        targetBlank
      >
        <GitHubIcono /> Codigo
      </BotonEnlace>
    </div>
  </Proyecto>
</div>

<style>
  p {
    line-height: 1.5rem;
  }

  .contenedor > * {
    padding: 20px;
    background-color: red !important;
  }
</style>
