---
interface Props {
  alt: string;
  src: string;
  Titulo: string;
}

const { Titulo, alt, src } = Astro.props;
---

<article
  class={`pt-0 pb-4 rounded-lg flex flex-col space-y-8 group overflow-hidden md:p-1`}
>
  <figure
    class="w-full h-full group overflow-hidden md:w-1/2 md:rounded-lg md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50 md:min-h-36"
  >
    <img
      src={src}
      alt={alt}
      class="w-full h-full object-cover object-center scale-105 transition ease-out duration-500 md:group-hover:scale-110"
    />
  </figure>

  <div class="w-full px-4 py-2 md:w-1/2 md:max-w-lg">
    <h3 class="m-0 text-2xl font-bold mb-2">
      {Titulo}
    </h3>
    <div class="">
      <slot />
    </div>
  </div>
</article>

<style>
  .limpiar {
    margin: 0px !important;
  }
</style>
