---
import Layout from "../layouts/Layout.astro";
import Formulario from '../svelte/formularios/componentes.svelte'
---

<Layout title="Componentes">
    <main>
        <h1>Componentes</h1>
        <Formulario client:load />
    </main>
</Layout>
