---
import Layout from "../layouts/Layout.astro";

import Container from "@components/Container.astro";
import ExperienciaLaboral from "@components/secciones/ExperienciaLaboral.astro";
import ProyectosPersonales from "@components/secciones/Proyectos/Proyectos.astro";
import BotonEnlace from "@components/UI/Enlaces/BotonEnlace.astro";
import Header from "@components/Header.astro";

import Corbata from "@iconos/Corbata.astro";
import ArchivoCodigo from "@iconos/ArchivoCode.astro";
import PersonaLupa from "@iconos/PersonaLupa.astro";
import Linkedin from "@iconos/Linkedin.astro";
import GitHubIcono from "@iconos/GitHubIcono.astro";
import Foto from "@img/Foto-perfil.webp";
---

<Layout
  title="Portafolio"
  description="Hola, soy David. Desarrollador web con mas de 2 años de experiencia."
>
  <main class="relative">
    <Header />

    <section id="presentacion">
      <Container>
        <figure class="my-4 aspect-square size-16 rounded-full overflow-hidden">
          <img
            src={Foto.src}
            alt="David Cubillos"
            class="object-cover w-full h-auto scale-110 transition-transform ease-in-out duration-500 hover:scale-125"
          />
        </figure>

        <h1>Hola, soy David</h1>

        <p>
          <b>+2 años de experiencia</b>. Ingeniero de sistemas. Experiencia en
          <b>desarrollo web</b>, tanto frontend como backend.
        </p>

        <div class="flex flex-wrap gap-4 mt-8">
          <BotonEnlace
            href="https://www.linkedin.com/in/david-cubillos-7b502b18b/"
            targetBlank
            title="Perfil de linkedin"
            classname="font-semibold"
          >
            <Linkedin /> Linkedin
          </BotonEnlace>

          <BotonEnlace
            href="https://www.linkedin.com/in/david-cubillos-7b502b18b/"
            targetBlank
            title="Perfil de GitHub"
            classname="font-semibold"
          >
            <GitHubIcono /> GitHub
          </BotonEnlace>
        </div>
      </Container>
    </section>

    <section
      class="container"
      aria-label="experiencia laboral"
      id="experiencia"
    >
      <h2 class="flex items-center gap-3">
        <Corbata size={32} />
        Experiencia laboral
      </h2>

      <ExperienciaLaboral />
    </section>

    <section id="proyectos" class="container" aria-label="proyectos personales">
      <h2 class="flex gap-3 items-center">
        <ArchivoCodigo size={32} />
        Proyectos personales
      </h2>

      <ProyectosPersonales />
    </section>

    <section id="acerca-de-mi" aria-label="acerca de mi">
      <Container>
        <h2 class="flex gap-3 items-center">
          <PersonaLupa />
          Acerca de mi
        </h2>

        <p>
          Hola, me llamo David Cubillos. Conocí el mundo de la programación
          cuando encontré un video que me enseñaba a crear una página web y
          decidí meterme un poco mas en este mundo lo cual me llevó a estudiar
          ingeniería de sistemas.
        </p>

        <p>
          Durante mi trayectoria en la carrera de Ingeniería de Sistemas,
          adquirí sólidos conocimientos sobre <b><i>bases de datos</i></b>.
          Estos conocimientos me impulsaron a participar activamente en diversos
          eventos de programación, incluyendo un hackathon. En estas
          experiencias, descubrí que la programación es una habilidad
          extremadamente versátil y poderosa.
        </p>

        <p>
          Además, tuve la oportunidad de <b
            ><i>contribuir a la comunidad llevando internet a una zona remota</i
            ></b
          > y estableciendo un café internet. Esta iniciativa no solo benefició a
          los residentes locales, sino que también brindó a muchos niños acceso rápido
          a información.
        </p>
      </Container>
    </section>
  </main>
</Layout>

<style></style>
