---
import TailwindcssIcon from "@iconosFrame/TailwindcssIcon.astro";
---

<div
  class="flex items-center gap-x-2 rounded-full text-xs bg-[#003159] text-white py-1 px-2"
>
  <TailwindcssIcon />
  Tailwind CSS
</div>
