---
import TypeScriptIcon from "@iconos/TypeScriptIcon.astro";
---

<div
  class="flex items-center gap-x-2 rounded-full text-xs py-1 px-2 text-white border-2 border-[#3178c6]"
>
  <TypeScriptIcon />
  TypeScript
</div>
