---
import Enchufe from "@iconos/Enchufe.astro";
---

<article>
  <h2 class="flex gap-3 items-center">
    <Enchufe />
    Pongamos en contacto
  </h2>

  <p>Hola, me gustaria que nos pongamos en contacto, así que</p>
</article>
