---

---

<footer class="bg-[hsl(var(--background))] min-h-8 px-3 py-4">
  <div class="text-center [&>*]:w-full [&>*]:max-w-full">
    <p class="m-0">David Esteban Cubillos</p>
    <span>Desarrollador web</span>
  </div>

  <div class="mt-3">
    <p class="w-full text-center max-w-full text-xs m-0">
      Este Portafolio fue inspirado en el portadolio de <a
        target="_blank"
        href="https://github.com/midudev/porfolio.dev"
        class="text-tertiary text-xs">@midudev</a
      >
    </p>
  </div>
</footer>
