---
interface Props {
  href: string;
  targetBlank?: boolean;
  title?: string;
  classname?: string;
}

const { href, classname, title, targetBlank = false } = Astro.props;
---

<a
  href={href}
  title={title}
  target={targetBlank ? "_blank" : null}
  class={`px-3 py-1 rounded-full text-sm text-primary border border-primary flex w-min items-center gap-2 no-underline transition ease-in duration-300 hover:backdrop-blur-md hover:bg-slate-50 hover:bg-opacity-10 ${classname}`}
>
  <slot />
</a>
