---
import "../base.css";
import  SpeedInsights  from "@vercel/speed-insights/astro"

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es-CO">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <meta name="generator" content={Astro.generator} /> -->
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <SpeedInsights />
    <slot />
  </body>
</html>
