@import 'variables.scss';

.btn {
	background-color: $fondoboton;
	color: $colorboton;
	border: none;
	margin: 5px 10px;
	padding: 0.5rem;
	transition: all 0.4s;
	font-weight: bold;
	cursor: pointer;

	&.round {
		border-radius: 1rem;
	}

	&.small {
		font-size: 0.8rem;
	}

	&.high {
		font-size: 1.2rem;
	}

	&:hover {
		background-color: rgba($fondoboton, 0.8);
		box-shadow: 0 5px 5px $sombra;
	}

	&:active {
		transform: scale(0.8);
		box-shadow: 0 2px 5px $sombra;
	}
}
