@import 'variables.scss';

.nav {
	position: fixed;
	width: 100%;
	height: $tamanioheader;
	top: 0;
	left: 0;
	background-color: #0f0e17;
	color: #eff0f3;
	z-index: 1;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.4s;

	.logo {
		z-index: 1;
		font-size: 30px;
	}

	.btn-menu {
		height: $tamanioheader;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		margin: 0px 16px;
		top: 0;
		left: 0;

		.material-icons {
			font-size: 2rem;
			z-index: 1;
		}
	}

	.tema {
		height: $tamanioheader;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		margin: 0px 16px;
		top: 0;
		right: 0;

		.material-icons {
			font-size: 2rem;
		}
	}

	.sidenav {
		position: absolute;
		height: 100vh;
		width: 100%;
		overflow: hidden;
		background-color: #0f0e17;
		top: 0;
		left: -100%;
		display: flex;
		flex-direction: column;
		overflow-y: hidden;
		transition: all 0.4s;
		// padding: $tamanioheader 10px;

		.social {
			position: absolute;
			bottom: 0;
			margin: 1rem 0px;
		}

		.item {
			margin: 10px 1rem;

			&.espacioHeader {
				margin-top: $tamanioheader;
			}
		}

		&.open {
			transform: translateX(100%);
		}
	}
}

@media screen and (min-width: 992px) {
	.nav {
		justify-content: space-between;

		.logo {
			margin: 0px 1rem;
		}

		.sidenav {
			position: relative;
			left: 0;
			margin: 0px 3.5rem;
			height: $tamanioheader;
			flex-direction: row;
			align-items: center;
			width: auto;
			padding-top: 0;

			.item.espacioHeader {
				margin-top: 10px;
			}

			.social {
				display: none;
			}

			&.open {
				transform: none;
			}
		}
	}
}
