$tamanioheader: 70px;

$fondo: #eff0f3;
$colorparrafo: #2a2a2a;
$colortitulos: #0d0d0d;
$colorboton: #0d0d0d;
$fondoboton: #ff8e3c;
$fondocard: #eff0f3;
$colorlinks: #ff9000;

$sombra: rgb(128, 126, 121);

$fondoDark: #202124;
$colorparrafoDark: #a7a9be;
$colortitulosDark: #fffffe;
$colorbotonDark: #fffffe;
$fondobotonDark: #ff8906;
$fondocardDark: #0f0e17;
$colorlinksDark: #ff8906;
