$fondo: #eff0f3;
$colorparrafo: #2a2a2a;
$colortitulos: #0d0d0d;
$colorboton: #0d0d0d;
$fondoboton: #ff8e3c;
$fondocard: #eff0f3;
$colorlinks: #ff8e3c;

$fondodark: #0f0e17;
$colorparrafodark: #a7a9be;
$colortitulosdark: #fffffe;
$colorbotondark: #fffffe;
$fondobotondark: #ff8906;
$fondocarddark: #0f0e17;
$colorlinksdark: #ff8906;
